.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    height: 50%;
    margin: auto;
}
.navbar-default{
background-image: linear-gradient(to bottom, #FF1100 0, #B20C00 100%) !important;
border: 0px !important;
height: 75px;
box-shadow: 0px 0px 20px black !important;
}
.collapse .navbar-collapse{
color: white !important;
}
.imageHolderSitter{
  position: absolute;
  margin-right: 50px;
  height: 500px;
  width: 500px;
  border-radius: 5px;
}
.imageHolderOwner{
  position: absolute;
  margin-right: 50px;
  height: 500px;
  width: 500px;
  border-radius: 5px;
}
.input-bar{
  width: 350px;
  border-radius: 10px;
  font-weight: bold;
}
.centered-form, .panel, .owner-panel, .input-bar{
  line-height: 25px;
  }
.centered-form {
	margin-top: 60px;
}
.container{
  text-align: center;
}
.panel{
  border: 50px solid black;
  width: 400px;
  height: 500px;
}
.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  line-height: 35px;
  text-align: center;
}
.jumbotron{
  border-radius: 10px !important;
  background-image: url('https://drscdn.500px.org/photo/123651921/m%3D1170/df22a8ece5cd275f8677de42ae09820a') !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 100px;
  text-align: center;
}
.jumbotron > *{
  padding: 20px;
}
.greet{
  color: aliceblue;
}
body{
  background-color: #fff !important;
}
.navbar-collapse{
  height: 100%;
}
#navbar a {
  font-size: 1.25em;
  color: white;
  height: 100%;
  padding-bottom: 25px;
  padding-top: 30px;
}
#navbar a:hover{
  color: red;
  background-color: white;
}
a.navbar-brand{
  margin-top: 15px;
  color: white !important;
  font-size: 3em;
  font-weight: bold;
}
