* {
  font-family: helvetica;
}
.greet {
  margin-left: 50px;
}
.imgSize: {
  height: 200px;
}
.btnContainer {
	text-align: center;
	display: inline-block;
  padding-left: 500px;
}
.well {
  width: 45%;
  margin-top: 25px;
  color: white;
  float: left;
  margin-left: 50px;
  height: 410px;
  border-radius: 5% !important;
  border: 1px solid black !important;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px !important;
  background-image: linear-gradient(to top,#FF1100 0,#B20C00 100%) !important;

}
.sitterPic, .petPic {
  margin-bottom: 20px;
  border-radius: 5%;

}
.sitterPic, .petPic {
  width: 220px;
  height: 220px;
}
.ownerBar, .sitterThumbnail {
  margin-left: 5px;
}
.ownerCaption, .sitterCaption{
  display: inline-block;
  margin: 10px;

}
.ownerButton {
	display: inline-block;
  margin: 50px;
	height: 250px;
	width: 150px;
}
.sitterButton {
	display: inline-block;
	margin: 50px;
	height: 250px;
	width: 150px;
}
.appContainer{
  margin: 75px;
}
.links {
  color: white;
  text-decoration: none;
}
.btn:hover{
  background-image: linear-gradient(to top,#FF1100 0,#B20C00 100%) !important;
  background-color: #FF1100 !important;
}
.btn-primary{
  background-image: linear-gradient(to top,#FF1100 0,#B20C00 100%) !important;
}
.signup-button{
  background-image: linear-gradient(to bottom,#FF1100 0,#B20C00 100%) !important;
  opacity: 1 !important;
}
.signup-button:hover{
  background-image: linear-gradient(to top,#FF1100 0,#B20C00 100%) !important;
  opacity: 1 !important;
  background-color: #FF1100 !important;
}

